<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hacker Story</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "#" do %><i class="fa fa-pencil-square-o"></i> 註冊 <% end %></li>
        <li><%= link_to "#" do %><i class="fa fa-sign-in"></i> 登入 <% end %></li>
        <li><%= link_to "#" do %><i class="fa fa-sign-out"></i> 登出 <% end %></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-caption">
    <h1>Hacker Story</h1>
    <div class="box">
      <div class="container-4">
        <input type="search" id="search" placeholder="Search..." />
        <button class="icon"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://www.w3schools.com/bootstrap/img_chania2.jpg" alt="Chania">
    </div>

    <div class="item">
      <img src="http://www.w3schools.com/bootstrap/img_chania2.jpg" alt="Chania">
    </div>

    <div class="item">
      <img src="http://www.w3schools.com/bootstrap/img_chania2.jpg" alt="Flower">
    </div>

    <div class="item">
      <img src="http://www.w3schools.com/bootstrap/img_chania2.jpg" alt="Flower">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container index_container">
  <div class="row category_title">
    <i class="fa fa-clock-o"></i> Featured
  </div>
  <div class="row">
    <div class="col-md-3 project">
      <div class="project_card">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </div>
    </div>
  </div>
  <div class="row category_title">
    <i class="fa fa-star"></i> Featured
  </div>
  <div class="row">
    <div class="col-md-3 project">
      <div class="project_card">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </div>
    </div>
  </div>
</div> <!-- /container -->
<footer>
  <p>&copy; Hacker Story 2015</p>
  <i class="fa fa-instagram fa-lg"></i>
  <i class="fa fa-facebook-square fa-lg"></i>
  <i class="fa fa-google-plus-square fa-lg"></i>
</footer>
