<%= render partial: "projects/partials/index/carousel" %>
<div class="container index_container">
  <div class="row category_title">
    <i class="fa fa-clock-o"></i> Featured
  </div>
  <div class="row">
  <div class="col-md-3 project">
      <div class="project_card">
        <a href="#" class="project_link">
          <span class="hgpm-image-gradient"></span>
          <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
          <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
        </a>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
      <a href="#" class="project_link">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
      <a href="#" class="project_link">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </a>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
      <a href="#" class="project_link">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </a>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
      <a href="#" class="project_link">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </a>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
      <a href="#" class="project_link">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </a>
      </div>
    </div>
  </div>
  <div class="row category_title">
    <i class="fa fa-star"></i> Featured
  </div>
  <div class="row">
    <div class="col-md-3 project">
      <div class="project_card">
      <a href="#" class="project_link">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </a>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
      <a href="#" class="project_link">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </a>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
      <a href="#" class="project_link">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </a>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
      <a href="#" class="project_link">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </a>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
      <a href="#" class="project_link">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </a>
      </div>
    </div>
    <div class="col-md-3 project">
      <div class="project_card">
      <a href="#" class="project_link">
        <span class="hgpm-image-gradient"></span>
        <%= image_tag "http://www.gannett-cdn.com/-mm-/b92ab206aae304eb74d90dfed7fe693d25aa1068/c=712-0-3544-2832&r=x233&c=210x230/local/-/media/2015/08/21/Reno/B9318549473Z.1_20150821201540_000_GE4BMMQ86.1-0.jpg" %>
        <span class="project_description">Donec id elit non mi porta gra id elit non mi porta gravid id elit non mi porta gravid id elit non mi porta gravidvida at eget metus. Fusce dapibus, tellus ac cursusDonec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus</span>
      </a>
      </div>
    </div>
  </div>
</div> <!-- /container -->

